
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --primaryColor:#FBB83C ;
  --SecondaryColor:rgba(127, 62, 152, 1);
  --ThirdColor:#4DB7B3;
    --linear-gradient:linear-gradient(to right,#093f5366, #00000066 );
  --mainColor1:  #F6DFA2;
  --mainColor2: rgb(0, 0, 0);
  --mainColor3: #31ba44;
  --mainColor4: #ffffff;
  --mainColor5: #f2e7d8;


}
.offcanvas{
background-color: white;
}


@media only screen and (min-width: 1024px) {
  /* .gallary-container .slick-slide{
      width: auto !important;
      max-width: 600px !important;
    } */

    .sider-margin .slick-slide{
      width: 450px !important; 
        }
       .sider-margin .slick-slide.slick-active{
          margin-inline-start: 125px !important;
      
        }
    
}

@media only screen and (max-width: 1254px) {
  .icon-menu:hover{
    color: var(--mainColor4);
  }


body{
  overflow-x: hidden;
}
}

@media only screen and (max-width: 1200px) {
  .container{
    max-width: 95% !important;
  }
  .offcanvas {
    overflow-y: auto;
  }
}
@media only screen and (max-width: 1087px) {
.navContainer a.bg-red, button.bg-red {
    width: 170px;
    font-size: 14px;
}
}


@media only screen and (max-width: 1064px) {
  .navbar-expand-lg .navbar-collapse {
display: none !important;
  }
  .form-res{
    display: flex;
  }
  .icon-menu{
    display: flex !important;
  }


  .nav-pills-profile-sm .nav-link.active {
    background-color: var(--mainColor1);
    border-radius: 0.5125rem;
    color: var(--mainColor4) !important;
}

  .navbar .container-fluid{
    padding-inline: 4rem;
    }
    .nav-slider{
      display: none;
    }



.flag ,.floatwhatsapp {
  bottom: 2%;
}

.back-to-top {
  bottom: 10%;
}

.flag-list {
  bottom: 10%;
}




}
@media only screen and (max-width: 1110px) {

  .sidenav {padding-top: 15px;}
  .side-menu .text-search{
    font-weight: 400;
    font-size: 20px;
    padding-block: 80px;

  }
  .overflow-row {
    overflow-x: scroll;
  }
  .btn-close:focus {
    box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}

}
@media only screen and (max-width: 991px) {
  
  .img-login{
    display: none;
  }
  .arrow{
    display: none;
  }
  .arrow-sm{
    display: block;
  }
.border-form{
  border: none !important;
}
  h2.home {
    font-size: 33px !important;
}
  .image-grid{
    display: flex;
    max-height: none !important;
    flex-direction: column;
    flex-wrap: wrap;
  }
.w-25{
  width: 100% !important;
}
  .image-grid .gallary {
    height: 200px;
  }
  .nav.bg-gray{
    background-color: transparent;
  }
  .vision-mission {
    margin-bottom: 150px;
}
  .img-container-home{
 width: 80%;

  }
  .container-service ul li {
    width: 100%;
}
  footer img{
    width: 150px;
  }
   .squre-after-service::after {
    right: 0px;
  }
  .info-container .row:nth-child(odd) .vision-mission .row .vision-mission-description {
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
  }
  .vision-mission-description.squre-after::after {
    top: 50px;
}
  .section-top-service .row::after {


    bottom: 80% !important;
}
.img-absloute {
  max-height: 250px;
  overflow: hidden;
  width: 100%;
}
 h3, .h3 {
  font-size: 21px !important;
  line-height: 20px;

}



h1 {

  font-size: 25px;
  line-height: 20px;

}
  .h3-absloute{

    color: var(--SecondaryColor);
    text-align: start;
  }
  .about-img-css {
    height: 250px;

}
  footer h4 {
    font-size: 16px;
}
.social{
  padding-inline: 0px;
}
.social li a {

  width: 30px;
  height: 30px;
font-size: 18px;
}
/* .list-data-footer li{
  text-align: center;
} */
footer .list-footer li {
  width: 100%;
}
.navContainer .nav-link span {
  color: var(--mainColor2);
}

  .carousel-caption {
    right: 10%;
    top: 22%;
    left: 10%;
}
  .bg-img {
    background-size: 100% 41%;
    background-position: top;
    height: 250px;
}

.bg-img.rating{
background-position: center center;
background-size: cover;
height: auto;
}


.h3-absloute {
  position: static;

}
.bg-img h3{

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  }
  .zoom{
    max-height: 350px;
    overflow: hidden;}
  .gray-bage h3 {
    font-size: 30px;

}
.flex-shrink-0 img {
  max-width: 100%;
}
.table-row-data  h6{
  font-size: 13px;
  font-weight: 300;
  text-wrap:nowrap
}

  .table-row-data   h6.semibold{
    font-size: 10px;

  }

  .w-75,.w-50{
    width: 100% !important;
  }
  form.w-50{
    width: 100% !important;
  }
  .nav-pills-profile{
    display: none;
  }
  .nav-pills {
    flex-wrap: wrap;
width: 100%;
  } 

  .nav-pills h6{
    flex-wrap: nowrap;
    font-size: 0.8rem;
    margin-top: 10px;
  } 
  .profile .nav-pills h6 {
    text-align: center;
}
  .icon-menu-profile{
    display: flex !important;
    padding-inline: 2rem;

  }



h2 {
  font-size: 24px;
  line-height: 37px;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-wrap: balance;
}


p {
  font-size: 16px !important;

}
.service-img::after {
  left: 2%;
  width: 300px;
  height: 300px;
}
h5 {
  font-size: 27px;
  line-height: 34px;
  font-weight: 600;
}
h6, .h6 {
  font-size: 19px;
  line-height: 20px;
}

.card h2 {
  font-size: 18px;

}
.emcan{
  font-size: 12px !important;
}
.emcan a {

  font-size: 13px !important;
}
.w-img-popup {
  width: 30%;
}
}
@media only screen and (maxwidthmin-width: 450px) {


.pills-Description .nav-link{
 
  max-width: 50%;
    } }
@media only screen and (max-width: 900px) {

  .item-container{
    height: 250px;

  }
  .slider2 .img-card {
    max-height: 200px;
  }
  .flex-grow-1 {
    font-size: 10px;
  }
  .text-price{
    font-size: 14px;
  }
  .overlay2{

    font-size: 1.5rem;}
.container{
    width: 100%;
}

    .section {
        padding: 2.3rem 0rem 2.3rem 0rem;
    }

}
@media only screen and (max-width: 770px) {
  .row-res{
    display: flex;
  }
  .row-res-img{
    display: none;
  }
  .row-small{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  }
  .row-small .zoom {
    max-width: 20%;
  }

.img-big{
  width: 100% !important;
}}



@media (max-width: 1024px) {
  .album .img {
    margin: 0 0 18px 0;
  }
}

@media (max-width: 768px) {
  .album .img {
    max-width: 32.5%;
    margin: 0 0 0 0;
  }

  .album .responsive-container-block.bg {
    flex-direction: column;
  }

  .album .responsive-container-block.img-cont {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .album .img.img-big {
    max-width: 49%;
    margin: 0 0 0 0;
  }
}

@media (max-width: 500px) {
  .album .img {
    max-width: 94%;
    margin: 0 0 25px 0;
  }

  .album .responsive-container-block.img-cont {
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
  }

  .album .img.img-big {
    max-width: 94%;
    margin: 0 0 25px 0;
  }

  .album .img.img-last {
    margin: 0 0 5px 0;
  }
}














@media only screen and (min-width: 991px) and (max-width: 1069px) {
  .navContainer .nav-link {
    font-size: smaller;
  }
}

@media only screen and (max-width: 991px) {

.nav-pills .nav-link h2 {
  font-size: 13px !important;
}
.header-div {
  height: 150px;
}
}